---
interface Props {
  id?: string;
}

const { id } = Astro.props;
const { pathname } = Astro.url;
---

<button
  id={id}
  class="rounded-full cursor-pointer p-2 size-8 hover:bg-bg-dark hover:text-text-dark dark:hover:text-text dark:hover:bg-bg text-black dark:text-white transition-colors duration-300"
>
  <slot />
</button>

<script define:vars={{ pathname }}>
  document.getElementById('change-lang')?.addEventListener('click', () => {
    if (pathname.endsWith('/es/')) {
      window.location.href = '/en/';
    } else {
      window.location.href = '/es/';
    }
  });
</script>
