---
interface Props {}
---

<li
  class="text-xs w-56 bg-gradient-to-r from-surface dark:from-surface-dark to-transparent to-90% py-2 px-3 rounded flex gap-2 items-center text-text-dark dark:text-text font-medium"
>
  <slot />
</li>
