---
import Header from '@components/Header.astro';
import en from '@i18n/en.json';
import es from '@i18n/es.json';
import '@styles/global.css';
import '@styles/animations.css';

interface Props {
  title: string;
}

export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

const { title } = Astro.props;
const { lang } = Astro.params;

const t = lang === 'es' ? es : en;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }

      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body
    class="transition-colors duration-300 text-text dark:text-text-dark bg-bg dark:bg-bg-dark"
  >
    <Header t={t} />
    <main class="min-h-screen flex flex-col items-center overflow-y-visible">
      <slot />
    </main>
    <div
      class="fixed inset-0 -z-10 h-screen w-full items-center bg-bg dark:bg-bg-dark px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#477fff_100%)]"
    >
    </div>
    <!-- <div class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div> -->
  </body>
</html>
